html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Oswald",Arial,sans-serif;
  color: #3B2D38;
}

body {
}

a {
  color: #D96830;
}

a:hover {
  text-decoration: none;
}

#top {
  background-color: #BCBDAC;
  box-shadow: 0px 0px 30px #3B2D38;
  height: 510px;
}

h1 {
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

#map {
  width: 600px;
  height: 420px;
  z-index: 1;
  box-shadow: 0px 3px 30px #3B2D38;
}

#canvas {
  position: relative;
  width: 600px;
  height: 420px;
  margin-top: -420px;
  z-index: 100;
}

#date {
  padding: 5px 0 0 0;
  width: 600px;
  font-size: 22px;
  text-align: right;
}

#everything {
  width: 600px;
  margin: 0 auto;
}

#bottom {
  width: 600px;
  padding: 20px 0 30px 0;
  font-size: 11px;
  margin: 0 auto;
  line-height: 180%;
}

#bottom table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

#bottom th {
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
}

#bottom td {
  width: 100%;
  vertical-align: top;
}

#bottom td.social {
  width: 190px;
}

#play {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  color: #fff;
  margin-top: 25px;
  float: right;
  padding: 1px 7px;
  border-radius: 8px;
  background-color: #3B2D38;
  z-index: 200;
}

#play:active {
  padding: 2px 7px 0px 7px;;
}
